In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df=pd.read_csv(r"data\merged_dataset.csv")

In [51]:
df.head()

,id,title,category,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [52]:
df.shape

(75683, 4)

In [53]:
df.drop(columns=["id","title"], axis=1 , inplace=True)

In [54]:
df = df.rename(columns={"category":"sentiment"})

In [55]:
df.isnull().sum()

sentiment      0
text         686
dtype: int64

In [56]:
df.dropna(inplace=True)

In [57]:
df.duplicated().sum()

4737

In [58]:
df.drop_duplicates(inplace=True)

In [59]:
df.reset_index(drop=True, inplace=True)